body{
    background-color: #fff0e5;
    margin: 0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
  }

  .open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 600;
    font-style: normal;
  }

  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.3em;
    font-style: normal;
  }

  header {
    background-color: #fff0e5;
    height: 4.5em;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
    transition: background-color 0.2s ease-in-out;
    border-bottom: 0 solid black;
    z-index: 1000;
  }
  
  .scrolled {
    background-color: white;
    opacity: 0.98; 
    border-width: 1px;
  }
  

  header nav{
    padding: 1.5em 0 1.5em 7em;
  }

  header nav a{
    text-decoration: none;
    font-size: 0.9em;
    color:black;
    margin: 1em;
  }

  .left{
    margin-left: 45em;
    margin-right: 2em;
  }

  .icon-button {
    color: black;
    border: none;
    cursor: pointer;
  }

  .screentone{
    position: absolute;
    height: 720px;
  }

  .mainpage-carousel{
    margin: 0 0 6% 0 ;
    width: 90%;
    height: 600px;
  }
  
  .carousel-box{
    width: 40%;
    margin-top: 2%;
    margin-left: 10%;
  }

  .carousel-box h1{
    margin-top: 3% ;
    background-color: #fff0e5;
    font-size: 3.0em;
  }

  .carousel-indicators{
    background-color: #fff0e5;
    border-radius: 20px;
    padding: 0;
    margin: auto;
    width: 20%;
    height: 30px;
    border: 1px solid black;
  }

  .carousel-indicators li{
    background-color: black;
    padding: 0;
    margin: auto;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    border: 1px solid black;
  }

  .six-hundo{
    height: 670px;
  }
  
  .small-font{
    font-size: 12px;
  }

  footer{
    width: 80%;
    margin: auto;
  }

  footer hr{
    background-color: black;
  }

  .blue-bg{
    background-color: #10162f;
    height: 1020px;
  } 